# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.Python

# Chroma database
chroma_db/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Mine
doc.txt
Architecture_k8_deployment.png
Architecture_CICD_pipineline.png
workflow2.png
workflow.png